<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
    <meta name="copyright" content="Step41, LLC" />
    <meta name="keywords" content="java, spring, spring boot, spring security, thymeleaf, JSON web tokens, JWT, API, REST, vue, axios, bootstrap, mailer" />
    <meta name="description" content="A light-weight application written using the Spring Boot framework. This demo app provides a fully secured and encapsulated micro-service running on Tomcat and Derby, allowing the end user to mail a holiday greeting of their making to a recipient of their choosing, via the built-in API." />
    <title>Step41 Presents: The Spring Boot Holiday Mailer</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="/js/jquery-ui/1.12.1/jquery-ui.min.css" media="all" />
    <link rel="stylesheet" href="/js/jquery-ui/1.12.1/jquery-ui.structure.min.css" media="all" />
    <link rel="stylesheet" href="/css/styles.css" media="all" />
</head>
<body>
    <div id="content" class="container">
        <div class="row">
            <h1 class="h1 page-title"><span class="glyphicon glyphicon-bell"></span><span class="page-title-text">Step41's Holiday Mailer!</span><span class="glyphicon glyphicon-bell"></span></h1>
            <div class="page-intro">
                <p>Welcome to Step41's Spring Boot Holiday Mailer! This application was created for demo purposes only and is my first foray into Spring Boot development. The application provides a fully-secured and encapsulated micro-service running on Tomcat and Derby, allowing the end user to mail a holiday greeting of their making to a recipient of their choosing - all via the built-in API. The application will utilize one of several email providers in the background to mail the holiday message, and provide seamless failover if one of the providers is temporarily unavailable. </p>
                <p>To send your own personal greeting to a friend or loved one, simply enter your name and e-mail address below, and click the button to continue.</p>
            </div>
        </div>
        <div class="row">

            <!-- Message Form Panel #1 -->

            <div class="springmailer-panel springmailer-panel-1">
                <form class="form form-horizontal form-springmailer" accept-charset="UTF-8">
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                        <form-group :validator="$v.from.message_from_name">
                            <label for="message_from_name" class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12">Your Name</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <input v-model="from.message_from_name" v-on:input="$v.from.message_from_name.$touch" v-bind:class="{error: $v.from.message_from_name.$error, valid: $v.from.message_from_name.$dirty && !$v.from.message_from_name.$invalid}" type="text" class="input form-control" id="message_from_name" name="message_from_name" placeholder="Your full name" aria-describedby="Your full name" maxlength="30" required autofocus />
                            </div>
                        </form-group>
                        <form-group :validator="$v.from.message_from_email">
                            <label for="message_from_email" class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12">Your Email</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <input v-model="from.message_from_email" v-on:input="$v.from.message_from_email.$touch" v-bind:class="{error: $v.from.message_from_email.$error, valid: $v.from.message_from_email.$dirty && !$v.from.message_from_email.$invalid}" type="email" class="input form-control" id="message_from_email" name="message_from_email" placeholder="Your e-mail address" aria-describedby="Your e-mail address" maxlength="50" required autofocus />
                            </div>
                        </form-group>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <button v-on:click="saveSender('right')" @click="$v.from.$touch()" type="button" class="btn btn-primary btn-action btn-right">Save and Continue<span class="glyphicon glyphicon-menu-right"></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Message Form Panel #2 -->

            <div class="springmailer-panel springmailer-panel-2 clearfix">
                <form class="form form-horizontal form-springmailer" accept-charset="UTF-8">
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"></div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <div class="btn-group btn-group-right" role="group" aria-label="navigation">
                                    <button v-on:click="newSender('left')" type="button" class="btn btn-primary btn-action springmailer-icon-left"><span class="glyphicon glyphicon-menu-left"></span>New Sender</button>
                                    <button v-on:click="viewMessages('right')" type="button" class="btn btn-primary btn-action springmailer-icon-right">View Messages<span class="glyphicon glyphicon-menu-right"></span></button>
                                </div>
                            </div>
                        </div>
                        <form-group :validator="$v.to.message_to_name">
                            <label for="message_to_name" class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12">Recipient Name</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <input v-model="to.message_to_name" v-on:input="$v.to.message_to_name.$touch" v-bind:class="{error: $v.to.message_to_name.$error, valid: $v.to.message_to_name.$dirty && !$v.to.message_to_name.$invalid}" type="text" class="input form-control" id="message_to_name" name="message_to_name" placeholder="Recipient full name" maxlength="30" aria-describedby="Recipient full name" required />
                            </div>
                        </form-group>
                        <form-group :validator="$v.to.message_to_email">
                            <label for="message_to_email" class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12">Recipient Email</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <input v-model="to.message_to_email" v-on:input="$v.to.message_to_email.$touch" v-bind:class="{error: $v.to.message_to_email.$error, valid: $v.to.message_to_email.$dirty && !$v.to.message_to_email.$invalid}" type="email" class="input form-control" id="message_to_email" name="message_to_email" placeholder="Recipient e-mail address" maxlength="50" aria-describedby="Recipient full name" required />
                            </div>
                        </form-group>
                        <form-group :validator="$v.to.message_subject">
                            <label for="message_subject" class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12">Subject</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <input v-model="to.message_subject" v-on:input="$v.to.message_subject.$touch" v-bind:class="{error: $v.to.message_subject.$error, valid: $v.to.message_subject.$dirty && !$v.to.message_subject.$invalid}" type="text" class="input form-control" id="message_subject" name="message_subject" placeholder="Message subject" maxlength="50" aria-describedby="Message subject" required />
                            </div>
                        </form-group>
                        <form-group :validator="$v.to.message_body">
                            <label for="message_body" class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12">Message</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <textarea v-model="to.message_body" v-on:input="$v.to.message_body.$touch" v-bind:class="{error: $v.to.message_body.$error, valid: $v.to.message_body.$dirty && !$v.to.message_body.$invalid}" class="input form-control" id="message_body" name="message_body" placeholder="Type your message here" aria-describedby="Message body" maxlength="1000" required></textarea>
                            </div>
                        </form-group>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <button v-on:click="sendMessage('right')" @click="$v.to.$touch()" type="button" class="btn btn-primary btn-action btn-right">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Message Form Panel #3 -->

            <div class="springmailer-panel springmailer-panel-3 clearfix">
                <form class="form form-horizontal form-springmailer" accept-charset="UTF-8">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="input-group">
                            <div class="btn-group" role="group" aria-label="navigation">
                                <button v-on:click="newSender('left')" type="button" class="btn btn-primary btn-action springmailer-icon-left"><span class="glyphicon glyphicon-menu-left"></span>New Sender</button>
                                <button v-on:click="newMessage('left')" type="button" class="btn btn-primary btn-action springmailer-icon-left"><span class="glyphicon glyphicon-menu-left"></span>New Message</button>
                                <button v-on:click="listMessages" type="button" class="btn btn-primary btn-action springmailer-icon-right">Reload Messages<span class="glyphicon glyphicon-refresh"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <table class="table table-hovered clearfix">
                            <thead>
                            <tr>
                                <th class="table-cell-sender">From</th>
                                <th class="table-cell-recipient">To</th>
                                <th class="table-cell-subject">Subject</th>
                                <th class="table-cell-date">Created</th>
                                <th class="table-cell-view">View</th>
                            </tr>
                            </thead>
                            <tbody v-for="message in list.messages">
                            <tr>
                                <td class="table-cell-sender">{{ message.fromName }} <{{ message.fromEmail }}></td>
                                <td class="table-cell-recipient">{{ message.toName }} <{{ message.toEmail }}></td>
                                <td class="table-cell-subject">{{ message.subject }}</td>
                                <td class="table-cell-date">{{ SpringMailer.Utilities.formatDate(message.created) }}</td>
                                <td class="table-cell-view">
                                    <button @click="toggleMessage(message.id)" type="button" class="btn btn-primary btn-toggle-message" title="Toggle Message Content"><span class="glyphicon glyphicon-menu-hamburger"></span></button></td>
                            </tr>
                            <tr v-bind:id="'message-' + message.id" class="table-cell-body">
                                <td colspan="5">{{ message.body }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/webjars/vue/2.5.3/vue.min.js"></script>
    <script src="/webjars/axios/0.17.0/dist/axios.min.js"></script>
    <script src="/webjars/momentjs/2.19.3/moment.js"></script>
    <script src="/js/SpringMailer.js"></script>

</body>
</html>
